.list-container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.article-list {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: clamp(1rem, 3vw, 7rem);
  padding: clamp(0.6rem, 2vw, 1rem);
  max-width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.article-list a {
  text-decoration: none;
  color: inherit;
}
