.header {
  display: flex;
  height: clamp(50px, 10vh, 70px);
  justify-content: center;
  align-items: center;
  background-color: #1127527e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5 );
  z-index: 10;
  padding: 0 5%;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.header h1 {
  margin: 0;
}

